.body {
  background-color: #a52424;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

#chat {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

#messages {
  max-height: 300px;
  overflow-y: auto;
}

#messages div {
  margin-bottom: 10px;
}

#messages div b {
  font-weight: bold;
}

#user-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 10px;
}

#send {
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
}
